@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 375px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 335px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 277px) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "Epilogue", serif;
  font-size: 1.8rem;
  line-height: 160%;
  letter-spacing: 0.01rem;
  font-weight: 400;
  background-color: hsl(30, 29%, 97%);
  color: hsl(218, 20%, 36%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3.2rem;
  background-image: linear-gradient(to top, hsl(30, 33%, 93%) 46.4rem, transparent 46.5rem);
}
@media (max-width: 1108px) {
  body {
    padding: 3.2rem;
  }
}
@media (max-width: 654px) {
  body {
    padding: 2.4rem 1.6rem;
    padding-bottom: 4rem;
  }
}

.container {
  width: 100%;
  max-width: 110.9rem;
}
@media (max-width: 1108px) {
  .container {
    max-width: 70.4rem;
  }
}
@media (max-width: 615px) {
  .container {
    max-width: 34.3rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
@media (max-width: 615px) {
  .nav {
    margin-bottom: 6.4rem;
  }
}
.nav__logo {
  height: 2.48rem;
}
.nav__logo img {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
  margin-bottom: 19rem;
}
@media (max-width: 1108px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 8rem;
    margin-bottom: 26.6rem;
  }
}
.header__content {
  height: 60rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(/assets/image-hero-portrait.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-resolution: 192dpi) {
  .header__content {
    background-image: url(/assets/image-hero-portrait@2x.png);
  }
}
@media (max-width: 615px) {
  .header__content {
    height: auto;
    padding-bottom: 30.7rem;
    background-image: url(/assets/image-hero-landscape.png);
    background-position: bottom;
  }
}
@media (max-width: 615px) and (min-resolution: 192dpi) {
  .header__content {
    background-image: url(/assets/image-hero-landscape@2x.png);
  }
}
.header__content h1 {
  font-family: "Epilogue", serif;
  font-size: 7.2rem;
  line-height: 110%;
  letter-spacing: -0.1rem;
  color: hsl(219, 42%, 16%);
  font-weight: 400;
  margin-bottom: 4rem;
}
@media (max-width: 1108px) {
  .header__content h1 {
    font-size: 5.6rem;
    letter-spacing: -0.078rem;
  }
}
@media (max-width: 615px) {
  .header__content h1 {
    font-size: 3.8rem;
    letter-spacing: -0.053rem;
  }
}
@media (max-width: 615px) {
  .header__content h1 {
    margin-bottom: 2.4rem;
  }
}
.header__content h1 strong {
  font-weight: 700;
}
.header__content h1 .over {
  position: relative;
}
.header__content h1 .over::before {
  content: "";
  position: absolute;
  top: -6.432rem;
  width: 100%;
  height: 5rem;
  background-image: url(/assets/pattern-curved-line-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
@media (max-width: 615px) {
  .header__content h1 .over::before {
    top: -5.432rem;
    background-position: center bottom;
  }
}
.header__content p {
  max-width: 35rem;
  margin-bottom: 6.4rem;
}
@media (max-width: 615px) {
  .header__content p {
    max-width: unset;
    margin-bottom: 4rem;
  }
}
.header__facts {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  width: 19rem;
}
@media (max-width: 1108px) {
  .header__facts {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 615px) {
  .header__facts {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  gap: 15.319rem;
  align-items: center;
  background-color: hsl(219, 42%, 16%);
  color: hsl(30, 33%, 93%);
  padding: 0 12.5rem;
  border-radius: 1.5rem;
  background-image: url(/assets/pattern-curved-line-2.svg);
  background-position: center top 20rem;
  background-repeat: no-repeat;
  margin-bottom: 10.42rem;
}
@media (max-width: 1108px) {
  .main {
    flex-direction: column;
    gap: 11.09rem;
    text-align: center;
    background-position: center top 27.5rem;
    padding: 0 4.8rem;
    margin-bottom: 7.92rem;
  }
  .main__content {
    margin-bottom: 6.4rem;
  }
}
@media (max-width: 615px) {
  .main {
    padding: 0 2.1rem;
    margin-bottom: 5.62rem;
  }
  .main__content {
    margin-bottom: 4rem;
  }
}
.main__figure {
  height: 58.956rem;
  display: flex;
  margin-top: -5.5rem;
  background-image: url(/assets/pattern-blur.svg);
  background-repeat: no-repeat;
  background-position: center bottom -8rem;
  background-size: 120%;
}
@media (max-width: 1108px) {
  .main__figure {
    height: 41.291rem;
    margin-top: -16.6rem;
  }
}
.main__figure img {
  height: auto;
}
.main h2 {
  font-family: "Epilogue", serif;
  font-size: 4.8rem;
  line-height: 120%;
  letter-spacing: -0.05rem;
  margin-bottom: 3.2rem;
  font-weight: 400;
  color: hsl(30, 29%, 97%);
}
.main h2 strong {
  font-weight: 700;
}
.main__text {
  font-family: "Epilogue", serif;
  font-size: 2rem;
  line-height: 160%;
  letter-spacing: 0.011rem;
  margin-bottom: 2.4rem;
}
.main__author {
  font-family: "Epilogue", serif;
  font-size: 1.8rem;
  line-height: 160%;
  letter-spacing: -0.018rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(30, 29%, 97%);
}
.main__reference {
  font-family: "Epilogue", serif;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 615px) {
  .footer {
    flex-direction: column;
    gap: 3.2rem;
  }
}
.footer__logo {
  height: 2.48rem;
}
.footer__logo img {
  height: 100%;
}
.footer__copy {
  font-family: "Epilogue", serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: hsl(218, 20%, 36%);
}
.footer__social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.footer__social a {
  width: 2rem;
  display: flex;
}
.footer__social a:focus-visible {
  outline: 0.2rem solid hsl(219, 42%, 16%);
  border-radius: 0.2rem;
  outline-offset: 0.2rem;
}
.footer__social a svg {
  fill: hsl(219, 42%, 16%);
  transition: fill 0.3s ease;
}
.footer__social a:hover svg {
  fill: hsl(218, 20%, 36%);
}

.button {
  font-family: "Epilogue", serif;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: -0.016rem;
  text-decoration: none;
  font-weight: 700;
  backface-visibility: hidden;
}
.button:focus-visible {
  outline: 0.2rem solid hsl(219, 42%, 16%);
  outline-offset: 0.2rem;
}
.button--primary {
  background-color: hsl(219, 42%, 16%);
  color: hsl(30, 29%, 97%);
  border: none;
  border-radius: 0.6rem;
  padding: 2rem 3.2rem 1.6rem 3.2rem;
  background-image: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: center;
  transition: background-size 0.2s ease-in 0.1s;
}
.button--primary:hover {
  background-size: 100% 100%;
}
.button--secondary {
  background-color: transparent;
  color: hsl(219, 42%, 16%);
  border: 0.2rem solid hsl(219, 42%, 16%);
  border-radius: 0.6rem;
  padding: 1.6rem 2.4rem 1.2rem 2.4rem;
  transition: background-color 0.3s ease;
}
.button--secondary:hover {
  background-color: hsl(219, 42%, 16%);
  color: hsl(30, 29%, 97%);
}

.fact__number {
  font-family: "Epilogue", serif;
  font-size: 4.8rem;
  line-height: 120%;
  letter-spacing: -0.05rem;
  font-weight: 700;
  color: hsl(219, 42%, 16%);
}
.fact__name {
  font-family: "Epilogue", serif;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.25rem;
  color: hsl(218, 20%, 36%);
  text-transform: uppercase;
}
@media (max-width: 1108px) {
  .fact {
    width: 19.2rem;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
