@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: t.$Mobile) {
    flex-direction: column;
    gap: 3.2rem;
  }

  &__logo {
    height: 2.48rem;

    img {
      height: 100%;
    }
  }

  &__copy {
    @include t.text-8;
    color: c.$Neutral-500;
  }

  &__social {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;

    a {
      width: 2rem;
      display: flex;

      &:focus-visible {
        outline: 0.2rem solid c.$Neutral-900;
        border-radius: 0.2rem;
        outline-offset: 0.2rem;
      }

      svg {
        fill: c.$Neutral-900;
        transition: fill 0.3s ease;
      }

      &:hover svg {
        fill: c.$Neutral-500;
      }
    }
  }
}
