@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
  margin-bottom: 19rem;

  @media (max-width: t.$Tablet) {
    flex-direction: column;
    align-items: stretch;
    gap: 8rem;
    margin-bottom: 26.6rem;
  }

  &__content {
    height: 60rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/assets/image-hero-portrait.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 192dpi) {
      background-image: url(/assets/image-hero-portrait@2x.png);
    }

    @media (max-width: t.$Mobile) {
      height: auto;
      padding-bottom: calc(24.3rem + 6.4rem);
      background-image: url(/assets/image-hero-landscape.png);
      background-position: bottom;

      @media (min-resolution: 192dpi) {
        background-image: url(/assets/image-hero-landscape@2x.png);
      }
    }

    h1 {
      @include t.text-1;
      color: c.$Neutral-900;
      font-weight: t.$Regular;
      margin-bottom: 4rem;

      @media (max-width: t.$Mobile) {
        margin-bottom: 2.4rem;
      }

      strong {
        font-weight: t.$Bold;
      }

      .over {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -6.432rem;
          width: 100%;
          height: 5rem;
          background-image: url(/assets/pattern-curved-line-1.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;

          @media (max-width: t.$Mobile) {
            top: -5.432rem;
            background-position: center bottom;
          }
        }
      }
    }

    p {
      max-width: 35rem;
      margin-bottom: 6.4rem;

      @media (max-width: t.$Mobile) {
        max-width: unset;
        margin-bottom: 4rem;
      }
    }
  }

  &__facts {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    width: 19rem;

    @media (max-width: t.$Tablet) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      width: 100%;
    }

    @media (max-width: t.$Mobile) {
      flex-direction: column;
      gap: 4rem;
      align-items: center;
    }
  }
}
