@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;

.button {
  @include t.text-6;
  text-decoration: none;
  font-weight: t.$Bold;
  backface-visibility: hidden;

  &:focus-visible {
    outline: 0.2rem solid c.$Neutral-900;
    outline-offset: 0.2rem;
  }

  &--primary {
    background-color: c.$Neutral-900;
    color: c.$Neutral-0;
    border: none;
    border-radius: 0.6rem;
    padding: 2rem 3.2rem 1.6rem 3.2rem;
    background-image: c.$Gradient;
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: center;
    transition: background-size 0.2s ease-in 0.1s;

    &:hover {
      background-size: 100% 100%;
    }
  }

  &--secondary {
    background-color: transparent;
    color: c.$Neutral-900;
    border: 0.2rem solid c.$Neutral-900;
    border-radius: 0.6rem;
    padding: 1.6rem 2.4rem 1.2rem 2.4rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: c.$Neutral-900;
      color: c.$Neutral-0;
    }
  }
}
