@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include t.text-5;
  font-weight: t.$Regular;
  background-color: c.$Neutral-0;
  color: c.$Neutral-500;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2.4rem;
}

.container {
  width: 100%;
  max-width: 110.9rem;
}
