@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 375px) {
    font-size: 55%;
  }

  @media (max-width: 335px) {
    font-size: 45%;
  }

  @media (max-width: 277px) {
    font-size: 35%;
  }
}

body {
  @include t.text-5;
  font-weight: t.$Regular;
  background-color: c.$Neutral-0;
  color: c.$Neutral-500;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3.2rem;

  background-image: linear-gradient(
    to top,
    c.$Neutral-200 46.4rem,
    transparent 46.5rem
  );

  @media (max-width: t.$Tablet) {
    padding: 3.2rem;
  }

  @media (max-width: 654px) {
    padding: 2.4rem 1.6rem;
    padding-bottom: 4rem;
  }
}

.container {
  width: 100%;
  max-width: 110.9rem;

  @media (max-width: t.$Tablet) {
    max-width: 70.4rem;
  }

  @media (max-width: t.$Mobile) {
    max-width: 34.3rem;
  }
}
