$Neutral-900: hsl(219, 42%, 16%);
$Neutral-500: hsl(218, 20%, 36%);
$Neutral-200: hsl(30, 33%, 93%);
$Neutral-0: hsl(30, 29%, 97%);

$Eupatorium-Purple-500: hsl(292, 76%, 54%);

$Gradient: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
